<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="#">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Profils</li>
      </ol>
    </nav>
    <h2 class="h4">Créer un profil</h2>
    <p class="mb-0">Back-Office CONTRAVENTION GUINÉE</p>
  </div>
</div>
<div class="card card-body border-0 shadow w-100">
  <h2 class="h4 mb-4">Création de profil</h2>
  <%= form_with model: @profile, url: admin_profiles_path, local: true do |f| %>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= f.label :title, "Nom du profil" %>
          <%= f.text_field :title, class: 'form-control', required: true, placeholder: "Nom du profil", autofocus: true %>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
    <h5 clas="h5 mb-3">Habilitations</h5>
      <div class="col-md-4 mb-3">
         <fieldset>
          <legend>
            <span class="badge bg-primary">ADMIN</span>
          </legend>
          <%= f.collection_check_boxes(:admin_ability_ids, @abilities.where(tag: :admin), :id, :title)  do |ach| %>
            <div class="form-check form-switch">
              <%= ach.label(class: 'form-check-label') do %>
                <%= ach.check_box(class: 'form-check-input') %>
                <span>
                  <%= ach.text %></span>
              <% end%>
            </div>
          <%end %>
        </fieldset>
      </div>
      <div class="col-md-4 mb-3">
         <fieldset>
          <legend>
            <span class="badge bg-primary">MÉTIER</span>
          </legend>
          <%= f.collection_check_boxes(:admin_ability_ids, @abilities.where(tag: :business), :id, :title)  do |ach| %>
             <div class="form-check form-switch">
              <%= ach.label(class: 'form-check-label') do %>
                <%= ach.check_box(class: 'form-check-input') %>
                <span>
                  <%= ach.text %></span>
              <% end%>
            </div>
          <%end %>
        </fieldset>
      </div>
      <div class="col-md-4 mb-3">
         <fieldset>
          <legend>
            <span class="badge bg-primary">AUTRES</span>
          </legend>
          <%= f.collection_check_boxes(:admin_ability_ids, @abilities.where(tag: :other), :id, :title)  do |ach| %>
             <div class="form-check form-switch">
              <%= ach.label(class: 'form-check-label') do %>
                <%= ach.check_box(class: 'form-check-input') %>
                <span>
                  <%= ach.text %></span>
              <% end%>
            </div>
          <%end %>
        </fieldset>
      </div>
    </div>
   
    <div class="row mt-3 mx-auto w-50">
      <div class="col">
        <%= f.submit 'Enregistrer', class: 'btn btn-sm btn-primary'%>
      </div>
      <div class="col">
        <%= link_to(url_for(admin_profiles_path), class: 'btn btn-sm btn-white') do %>
                    Retour
                  <%end%>
      </div>
    </div>
  <% end %>
</div>