<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="#">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Admin</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Paramétrage LOTO</li>
      </ol>
    </nav>
    <h2 class="h4">Ajouter un tirage</h2>
    <p class="mb-0">Back-Office LOTO GUINÉE-BISSAU</p>
  </div>
</div>
<div class="card card-body border-0 shadow w-100">
  <h2 class="h4 mb-4">Ajouter un tirage</h2>
  <%= form_with model: @draw, url: add_draw_path, local: true do |f| %>
     <div class="row">
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= f.label :week_day, "Jour de la semaine" %>
          <%= f.text_field :week_day, value: @week_day, disabled: true, class: 'form-control'%>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= f.label :draw_type_id, "Tirage" %>
          <select id="draw_draw_type_id" name="draw[draw_type_id]" required class="form-select mb-0">
            <option value="">Sélectionnez un tirage</option>
            <% @draw_types.each do |item| %>
              <option value='<%= item[1] %>' data-hour='<%= item[2] %>' data-counter='<%= item[3] %>'><%= item[0] %> </option>
            <% end %>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <%= f.label :published_at, "Date du tirage" %>
          <div class="input-group">
            <span class="input-group-text">
                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
            </span>
            <%= f.text_field :published_at_label, value: Time.now.strftime('%d/%m/%Y'), class: 'form-control', disabled: true%>
             <%= f.hidden_field :published_at, value: Time.now.strftime('%d/%m/%Y'), class: 'form-control'%>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <%= f.label :drawn_at, "Heure du tirage" %>
          <div class="input-group">
            <span class="input-group-text">
                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.848 12.459c.202.038.202.333.001.372-1.907.361-6.045 1.111-6.547 1.111-.719 0-1.301-.582-1.301-1.301 0-.512.77-5.447 1.125-7.445.034-.192.312-.181.343.014l.985 6.238 5.394 1.011z" clip-rule="evenodd"></path></svg>
            </span>
            <%= f.time_field :drawn_at, class: 'form-control', disabled: true %>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <%= f.label :identifier, "N°" %>
          <div class="input-group">
            <%= f.text_field :identifier_label, class: 'form-control', disabled: true %>
            <%= f.hidden_field :identifier, value: '', class: 'form-control'%>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="form-group">
          <%= f.label :draw_numbers, "Numéros" %>
          <%= select_mulitple_tag('draw[draw_numbers][]', @balls).html_safe %>
        </div>
      </div>
    </div>
   
    <div class="row mt-3 mx-auto w-50">
      <div class="col">
        <%= f.submit 'Enregistrer', class: 'btn btn-sm btn-primary'%>
      </div>
      <div class="col">
        <%= link_to(url_for(draws_path), class: 'btn btn-sm btn-white') do %>
                    Retour
                  <%end%>
      </div>
    </div>
  <% end %>
</div>

<% content_for :page_javascript do %>
    <script type="text/javascript">
      const drawTypeList = document.getElementById('draw_draw_type_id');
      drawTypeList.addEventListener('change', e => {
        const draw_type = e.target.value;
        if (draw_type !== "") {
          const option = e.target.options[e.target.selectedIndex];
          document.getElementById('draw_drawn_at').value = option.dataset.hour;
          document.getElementById('draw_identifier_label').value = option.dataset.counter;
          document.getElementById('draw_identifier').value = option.dataset.counter;
        }
      });

      document
    </script>
<% end %>