<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="#">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Transactions</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Transactions</li>
      </ol>
    </nav>
    <h2 class="h4">Détails - Paiement du ticket N° <%= @record['ticket_number'] %></h2>
    <p class="mb-0">BACK-OFFICE CONTRAVENTION GUINEE</p>
  </div>
</div>
<div class="card card-body border-0 shadow w-100">
  <h2 class="h4 mb-4">Détails - Paiement de ticket</h2>
  <%= form_with  url: '#', local: true do |f| %>
     <div class="row">
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <%= f.label :transaction_id, "Transaction ID" %>
          <%= f.text_field :transaction_id, value: @record['transaction_id'], disabled: true, class: 'form-control'%>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <%= f.label :sender_cb, "N° Ticket" %>
          <%= f.text_field :sender_cb, value: @record['ticket_number'], disabled: true, class: 'form-control'%>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <%= f.label :msisdn, "N° Téléphone" %>
          <%= f.text_field :msisdn, value: @record['msisdn'], disabled: true, class: 'form-control'%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
            <div class="form-group">
            <%= f.label :tax, "Tax" %>
            <%= f.text_field :tax, value: number_to_currency(@record['transaction_fees'], unit: 'GNF', separator: ', '), class: 'form-control', disabled: true%>
            </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <%= f.label :amount, "Montant" %>
          <%= f.text_field :amount, value: number_to_currency(@record['amount'], unit: 'GNF', separator: ', '), class: 'form-control', disabled: true%>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="form-group">
          <%= f.label :payment_ref, "Référence paiement" %>
          <%= f.text_field :payment_ref, value: @record['payment_trnx_ref'], disabled: true, class: 'form-control'%>
        </div>
      </div>
     
    </div>
     <div class="row">  
        <div class="col-md-4 mb-3">
            <div class="form-group">
            <%= f.label :wallet, "Moyen De Paiment" %>
            <%= f.text_field :wallet, value: display_wallet(@record['wallet']), disabled: true, class: 'form-control'%>
            </div>
        </div>
         <div class="col-md-4 mb-3">
            <div class="form-group">
            <%= f.label :notebook_code, "Type" %>
            <%= f.text_field :status, value: @record['contravention_type_code'], disabled: true, class: 'form-control'%>
            </div>
        </div>
          <div class="col-md-4 mb-3">
            <div class="form-group">
            <%= f.label :notebook, "N° Carnet" %>
            <%= f.text_field :notebook, value: @record['contravention_notebook_code'], disabled: true, class: 'form-control'%>
            </div>
        </div>
      </div>
     <div class="row">  
        <div class="col-md-4 mb-3">
            <div class="form-group">
            <%= f.label :agent, "Matricule Agent" %>
            <%= f.text_field :agent, value: @record['contravention_agent_identifier'], disabled: true, class: 'form-control'%>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <%= f.label :status, "Statut" %>
                <div class="input-group">
                    <%= display_bet_status(@record['status']).html_safe %>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <%= f.label :record_date, "Date" %>
                <div class="input-group">
                    <span class="input-group-text">
                        <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                    </span>
                    <%= f.text_field :record_date, value: @record['record_date'], class: 'form-control', disabled: true%>
                </div>
            </div>
        </div>




     </div>
   
    <div class="row mt-3 mx-auto w-50">
      <div class="col">
        <%= link_to(@back_url, class: 'btn btn-sm btn-white') do %>
                    Retour
                  <%end%>
      </div>
    </div>
  <% end %>
</div>