<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>BACK-OFFICE CONTRAVENTION GUINEE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Primary Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="BACK-OFFICE CONTRAVENTION GUINEE">
    <meta name="author" content="NGSER">
    <meta name="description" content="BACK-OFFICE CONTRAVENTION GUINEE">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="120x120" href='<%= asset_path("favicon/apple-touch-icon") %>' >
    <link rel="icon" type="image/png" sizes="32x32" href='<%= asset_path("favicon/favicon-32x32") %>' >
    <link rel="icon" type="image/png" sizes="16x16" href='<%= asset_path("favicon/favicon-16x16") %>'>
    <link rel="mask-icon" href='<%= asset_path("favicon/safari-pinned-tab.svg") %>' color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'turbolinks' %>


  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render partial: 'shared/flashes' %>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>

        $(function() {
            new Typed('#typed',{

              strings : ['DE LA GENDARMERIE', 'NATIONALE DE GUINEE ^1700'],
              typeSpeed : 50,
              delaySpeed : 180,
              loop : true

            });

        })

    </script>


  </body>
</html>
